<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teste">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teste">
        <activity
            android:name=".AgendaPrincipalActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".MinhaAgendaV5.fragments.AjustesFragment"
            android:exported="true"
            tools:ignore="Instantiatable,MissingClass" />
        <activity
            android:name=".MinhaAgendaV5.EditarContato5Activity"
            android:exported="true" />
        <activity
            android:name=".MinhaAgendaV5.ContatoAdapter5"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MinhaAgendaV5.TelaInicial5Activity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MinhaAgendaV4.ContatoAdapter4"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MinhaAgendaV4.EditarContato4Activity"
            android:exported="true" />
        <activity
            android:name=".MinhaAgendaV4.TelaInicial4Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MinhaAgendaV3.ContatoAdapter"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MinhaAgendaV3.TelaInicial3Activity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".MinhaAgendaV2.EditarContato2Activity"
            android:exported="true" />
        <activity
            android:name=".MinhaAgendaV2.TelaInicial2Activity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".MinhaAgendaV1.EditarContatoActivity"
            android:exported="true" />
        <activity
            android:name=".MinhaAgendaV1.TelaInicialActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".agenda_alura.Agenda_AluraActivity"
            android:exported="true" />
        <activity
            android:name=".arena.ArenaActivity"
            android:exported="true" />
        <activity
            android:name=".sorteioDeDados.SorteioDeDadosActivity"
            android:exported="true" />
        <activity
            android:name=".TelaPrincipalActivity"
            android:exported="true" />
        <activity
            android:name=".greeter2.Greeter2Activity2"
            android:exported="true" />
        <activity
            android:name=".greeter.GreetActivity2"
            android:exported="true" />
        <activity
            android:name=".frutas.ListasActivity2"
            android:exported="true" />
        <activity
            android:name=".pessoa.PessoasActivity"
            android:exported="true" />
        <activity
            android:name=".calculadora.CalculadoraActivity"
            android:exported="true" />
    </application>

</manifest>